* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
   font-family: 'Inter', sans-serif;
    font-size: 16px;
	background-color: #ece2c6;
}

/* BARRA DEL MENU*/
header{
	margin-bottom: 40px;
}

header .contenedor{
    background-color:#ece2c6;
    color: #fff;
    width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.icon-menu{
	font-size: 40px;
	display: block;
	text-align: left;
	cursor: pointer;
	color: #444;
}

header ul.lista{
	list-style-type: none;
	z-index: 10;
	position: absolute;
	background-color:rgba(236, 226, 198);
	width: 45%;
	height: auto;
	transform: translateX(-1000px);
	transition: ease-in-out 0.3s;
}
header ul.lista.show{
	transform: none;
	transition: ease-in-out 0.3s;
	z-index: 20;
}

header a{
	display:blocK;
    text-decoration: none;
    color: #333;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	border-top: 0.3px solid rgb(128, 128, 128,0.3);
}

header a:hover{
	color: gold;
	transition: all 0.7s;
	background-color:rgba(36, 42, 43,0.1);
}

@media only screen and (min-width:768px){
	header li a {
		font-size: 25px;
	}
}

@media only screen and (min-width:992px){
	
	header {
		margin-bottom: 0;
	}
	header .contenedor{
		position:static;
		width: auto;
		height: 50px;
		margin-bottom: -50px;
		background: transparent;

	}
	.icon-menu{
		display: none;
	}
	
	header ul.lista{
		transform: translateX(0);
		list-style-type: none;
		background-color:transparent;
		transition: none;
		position: absolute;
		top: 0;
		right: 0;
		width: auto;
		margin-right: 20px;
		margin-top: -50px;
	}
	
	header li{
		display:inline-block;
		margin: 0 10px 0 10px;
	}

	
	header li a {
		font-size: 22px;
		color: #fff;
		padding: 80px 0;
	}

	header li a:hover{
		color: gold;
		transition: all 0.7s;
		background-color: transparent;
	}
	

}

@media only screen and (min-width:1200px){
	header li {
		padding: 0 7px;
	}

}

@media only screen and (min-width:2000px){
	header li a {
		font-size: 50px;
		
	}

}

/*------------------BANNER Y MAIN---------------------*/
main {
	width: 100%;
}
.banner{
	text-align: center;
    z-index: 1;
    color: #fff;
    position: absolute;
    margin: auto;
	transform: translateY(200px);
	width: 100%;	
}

.nombre-banner #saludo{
	font-size: 33px;
	font-weight: bold;
}
.nombre-banner{
	font-size: 25px;
}

#nombre > span{
	font-size:60px;
	color: #E8F8F5;
}

.titulo-banner{
   	padding-top: 10px;
	font-size: 17px;
	
}

.leermas {
	display: block;
	transform: translateY(50px);
	border: 1px solid rgba(255, 255, 255,0.5);
	margin: 0 auto;
	padding: 10px 8px;
	width: 130px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 15px;
	border-radius: 7px;
}

.leermas:hover{
	
	border-color: rgba(255, 215, 0,0.5);
	background-color: rgb(255, 215, 0,0.1);
}
.img-main {
    width: 100%;
	height: 100vh;
	object-fit:cover;
    filter: brightness(0.7)
}

.boton-abajo-main{
	display: none;
}

@media only screen and (min-width:600px){
	#saludo {
		font-size: 65px;
	}
	.nombre-banner {
		font-size: 35px;
	}
	
	.titulo-banner{
		font-size: 25px
	}
}

@media only screen and (min-width:992px){
	.boton-abajo-main{
		display:block;
		position: absolute;
		bottom: 0;
		left: -21px;
		margin: 0 50%;
		text-align: center;
		margin-bottom: 5px;
		animation-name: sliceabajo;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		transition: all 1s;
	}
	#botonabajito{
		color:#fff;
		background-color: rgba(255,255,255,0.2);
		border-radius: 50%;
	}
	
	@keyframes sliceabajo{
		0% {color:#fff;
			
		}
		
		50% {
			transform: translateY(-15px);
		}
		
		100% {
			transform: translateY(0px)
		}
	}
	
	#botonabajito:hover{
		color: gold;
	}
	
	
}
@media only screen and (min-width:1024px){
	.banner {
		transform: translateY(250px);
	}
	.img-main {
		height: 100vh;
	}
}

@media only screen and (min-width:1440px){
	.banner {
		transform: translateY(300px);
	}
	#saludo {
		font-size: 72px;
	}
	.nombre-banner {
		font-size: 40px;
	}
	
	.titulo-banner{
		font-size: 32px
	}

	.leermas{
		transform: translateY(100px);
		font-size: 20px;
		width: 150px;
	}
}
@media only screen and (min-width:1700px){
	.banner {
		transform: translateY(600px);
	}
	#saludo {
		font-size: 120px;
	}
	.nombre-banner {
		font-size: 80px;
	}
	
	.titulo-banner{
		font-size: 60px
	}
}
/* ------------------SECCION DEL ABOUT----------------- */
.about{
	background-color:rgb(222, 205, 187);
}
section .about-contenedor{
	padding: 50px 50px;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.imagenyo img{
	object-fit: cover;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.links{
	margin-top: 70px;
}
.links a{
	color:rgb(36, 42, 43);
	font-size: 27px;
}
.links a:hover{
	color:gold;
}

.yo {
	width: auto;
	margin-top: 40px;
	line-height: 25px;
	width: 80%;
}

.yo h3{
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: bold;
}

.boton-arriba, .boton-abajo{
	display:none;
}

@media only screen and (min-width:992px){
	.about {
		height:100vh;
	}
	
	.about .about-contenedor{
		height: 90%;
	}
	
	.boton-abajo{
		display:block;
		text-align: center;
		animation-name: sliceabajo;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		transition: all 1s;
		margin-top: 10px;
	}
	
	.boton-arriba{
		display:block;
		text-align: center;
		animation-name: slicearriba;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		transition: all 1s;
	}
	
	@keyframes slicearriba{
		0%{
			color: #000;
		}
		
		50%{
			transform: translateY(15px);
		}
		
		100% {
			transform: translateY(0);
		}
	}
	
	.icon-down-open, .icon-up-open{
		font-size: 25px;
		text-decoration: none;
		color:black;
		padding: 5px;
		cursor: pointer;
	}
	.imagenyo img {
		width: 300px;
		height: 300px;
	}
	.yo{
		padding: 40px;
		width: 50%;
	}
}

@media only screen and (min-width:1400px){
	.about{
		height: 100vh;
	}
	section .about-contenedor{
		width: 100%;
		height: 100vh;
		display:flex;
		justify-content: space-evenly;
	}
	.imagenyo img {
		width: 35em;
		height: 80vh;
		border-radius: 0;
		padding: 0 100px 0 0;
		margin: 0;
		align-self: stretch;
	}
	
	.yo {
		width: 700px;
		margin-top: 40px;
		line-height: 35px;
		font-size: 25px;
	}
	
	.yo h3{
		font-size: 55px;
		margin-bottom: 35px;
		font-weight: bold;
	}
	
	.links{
		margin-top: 100px;
	}
}


/* -----------------SECCION DE SKILLS------------------ */

#experience {
	background:rgb(244, 238, 232)
}

.works h3{
	padding-top: 60px;
	font-size: 40px;
	text-align: center;
	font-weight: normal;
}
.tema{
	margin: 0 auto;
	width: 70%;
}
.tema p {
	font-size: 16px;
	margin-top: 15px;
	text-align: center;
}
.works .estudios{
	padding: 60px 0;
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	align-content: center;
}
.skilitos {
	display: flex;
	flex-wrap:wrap;
	margin-top: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.skilitos ul{
	margin: 30px auto;
	text-align: center;
}
.skilitos li{
	margin: 30px 0;
	list-style: none;
}

#wp, #git{
	width: 40px;
	height: 40px;
}
.estudios {
	width: 80%;
	margin: 0 auto;
}
.estudios div{
	border-radius: 5px 5px 5px 20px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 5px 5px 5px #888;	
	cursor: pointer;
	position:relative;
	background-color:#F7ECDE;
}


.works img {
	width: 100px;
	height: 100px;
}
.estudios div:hover{
	opacity: 0.8;
}

.estudios h4 {
	text-align: center;
}

#logcss{
	width: auto;
}

@media only screen and (min-width: 768px) {
	.estudios {
		width: 60%;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.works img{
		width: 120px;
		height: 120px;
	}
}

@media only screen and (min-width:992px){
	.works{
		height: 100vh;
	}
	
	.works-contenedor{
		max-width: 2400px;
		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.skilitos{
		border-top: 1px solid rgba(0,0,0,0.1);
		padding-top: 6px;
		border-bottom: none;
		width: 50%;
		margin: 10px auto;
	}
	.tema{
		padding:30px;
		flex-shrink: 2;
		height: auto;
		align-self:center;
	}

	.tema p {
		margin-top: 15px;
		line-height: 25px;
		font-size: 17px;
		padding-bottom:50px;
	}
	
	.estudios img{
		width: 120px;
		height:120px;
	}
}

@media only screen and (min-width: 1200px) {
	.tema {
		padding: 0 50px;
	}
}

@media only screen and (min-width: 1440px) {
	.tema {
		width: 80%;
		margin: 0 50px;
		flex-shrink: 1;
	}
}

/*---------PORTFOLIO-----*/
.portafolio{
	background-color:rgb(222, 205, 187);
}
.porta-contenedor{
	margin: 0 auto;
	min-height: 100vh;
	width: 95%;
	overflow: hidden;
}

.slider_container{
	padding: 30px 0;
	display: grid;
	grid-template-columns: 20px 1fr 20px;
	align-items: center;
	gap: 1em;
	background: #FBF8F1;
	border-radius: 30px;
}
.slider_body {
	grid-column: 2/3;
	grid-row: 1/2;
	opacity: 0;
	pointer-events: none;
	display: grid;
	align-items: center;
	transition: opacity 1.5s;
}

.slider_body--show {
	opacity: 1;
	pointer-events:unset;
}
.flex-body p {
	display: none;
}

.slider_arrow{
	cursor: pointer;
	width: 30px;
	height: 40px;
	margin: 0 5px;
}

.slider_arrow:nth-of-type(2) {
	justify-self: end;
}

.subtitle{
	text-align: center;
	font-size: 1rem;
	margin-bottom: 20px;
}

.slider_img {
	width: 230px;
	height: 350px;
	border-radius: 20px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.slider_img:hover {
	filter: brightness(0.8);
}

#picture-blog {
	object-position: 100% 100%;
}
.explain h3 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	padding: 60px 0;
}

.enunciado h2{
	margin-top: 9px;
	font-size: 20px;
}

.enunciado a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color:black;
}

.enunciado span {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0,0.5);
	padding: 8px;
	border-radius: 10px;
}

.upside {
	padding: 60px 20px 0 0;
	display: flex;
	justify-content: end;
}

.upside a{
	border: 1px solid rgba(0, 0, 0,0.5);
	padding: 10px 8px;
	width: 130px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-size: 15px;
	border-radius: 10px;
	text-align: center;
}

@media only screen and (min-width: 740px) {
	.porta-contenedor {
		max-width: 600px;
	}
}
@media only screen and (min-width: 992px) {
	.explain h3 {
		padding: 20px 0;
	}
	.portafolio{
		height: 100vh;
	}

	.porta-contenedor {
		max-width: 2500px;
	}

	.slider_img {
		width: 690px;
		height: 400px;
		border-radius: 30px;
	}

	.slider_container{
		grid-template-columns: 60px 1fr 60px;
		padding: 20px;
		max-height: 600px;
	}
	.slider_arrow {
		width: 50px;
		height: 50px;
	}

	.upside {
		padding-top: 30px;
	}
}
@media only screen and (min-width: 1024px) {
	.slider {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.flex-body{
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content:space-around;
		height: 60vh;
	}
	.flex-body p{
		display: block;
	}
	.slider_img {
		width: 380px;
		height: 300px;
		border-radius: 20px;
	}
	.enunciado {
		text-align: center;
		padding: 10px;
	}
	.enunciado h2 {
		font-size: 30px;
	}
	.enunciado h2, .enunciado p{
		margin: 20px 0;
	}
	.enunciado a {
		margin-top: 40px;
	}

	.enunciado span:hover {
		background-color: #ffd399;
	}
}
@media only screen and (min-width: 1440px) {
	.slider_container{
		border-radius: 20px;
	}

	.slider_img {
		width: 700px;
		object-fit: contain;
		height: 50vh;
	}
	#picture-blog {
		object-position: 50% 50%;
	}
	.subtitle{
		font-size: 1.5rem;
	}
}
/*-------FOOTER----- */

footer{
	max-width: 2500px;
	color: #333;
	background-color:rgb(222, 205, 187);
	padding-top: 100px;
}
.sociales{
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
}

.sociales a, .sociales p{
	display:inline-block;
	text-decoration: none;
	color: #333;
	font-size: 16px;
	margin: 4px 4px;
}

#mail {
	color: #000;
	padding-left: 5px;
}

@media only screen and (min-width:992px) {
	.sociales a, .sociales p {
		font-size: 22px;
		margin: 6px 6px;
	}

	.sociales a:hover {
		color: gold;
	}
}